.store-stats-referrer-title.card  {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	min-height: 226px;
	padding: 12px;

	.store-stats-referrer-title__stat {
		margin-bottom: 12px 21px;
	}
	
	.store-stats-referrer-title__label {
		color: $gray-dark;
		display: block;
		font-size: 12px;
		font-weight: 600;
	}
	
	.store-stats-referrer-title__value {
		color: $blue-wordpress;
		display: block;
		font-size: 16px;
	}

	.store-stats-referrer-title__referrer {
		width: 100%;

		.store-stats-referrer-title__value {
			font-size: 22px;
		}
	}
	.store-stats-referrer-title__sales,
	.store-stats-referrer-title__purchases,
	.store-stats-referrer-title__views,
	.store-stats-referrer-title__carts {
		width: 50%;
	}
}
