&.referrers {
	.pagination {
		padding: 0.5em 0;
	}

	.referrers__search {
		max-width: 100%;
		margin: 0 auto 16px;
	}

	.store-stats-referrer-title.card {
		margin: 0;
		width: calc( 50% - 6px );
	}

	.referrers__widgets {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;

		.store-stats-referrer-conv-widget.card,
		.store-stats-referrer-title.card,
		.store-stats-referrer-widget.card {
			margin: 0;
			width: calc( 50% - 6px );
		}
	}
}

.referrers__search-filter {
	margin-bottom: 10px;
}

